body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
section{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0f0,#038a71,rgb(42, 1, 70));
    animation: animate 18s linear infinite;
	filter: blur(200px);
}
@keyframes animate
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);     
    }
}
section span{
    position: relative;
    display: block;
    width: calc(5vw - 2px);
    height: calc(5vw - 2px);
	border-radius: 550em 400em 250%;
	transform:rotate(224deg);
    animation: drop 2s infinite ease-in-out;
	background: #18181889;
	z-index: 2;
	opacity: .6;
    transition: 1.2s;
    transform-style: preserve-3d;
	/* filter: blur(1px); */
	box-shadow: 8px 8px 15px #0caf27e3;
}
@keyframes  drop{
	0%{
		transform: rotate(246deg);
	}
	/* 25%{
		transform: rotate(244deg);
	}*/
	50%{
       transform: rotate(200deg);
	}
	/*75%{
		transform:rotate(204deg);
	} */
	100%{
        transform:rotate(246deg)
	}
	
}
section span:hover{
    background: green ;
    transition: 0s;
    transform-style: flat;
	opacity: .4;
	filter: blur(60px);

}
/* @media(max-width:900px)
{
    section span{
        
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
        
    }
} */
@media(max-width:600px)
{
    section span{
        
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
        
    }
}
 .box{
    font-family: "Bahnschrift",monospace;
    position:absolute;
    width: 380px;
    height: 420px;
    background: #222;
    z-index: 1000;
    /* display: flex; */
    padding: 40px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 5px 25px 35px rgb(0, 0, 0);
	opacity: .9;
	
     
}
 .box::before{
	content: '';
	z-index: 1001;
	position: absolute;
	top: -30%;
	left: -35%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#0f0,#038a71,rgb(42, 1, 70));
	animation: anim 6s linear infinite;
}
 .box::after 
{
	content: '';
	z-index: 1001;
	position: absolute;
	top: -30%;
	left: -35%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent ,#0f0,#038a71,rgb(42, 1, 70));
	animation: anim 6s linear infinite;
	animation-delay: -3s;
}
@keyframes anim
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

/* .con{
    position: absolute;
    inset: 10px;
    background: #222;
    z-index: 1002;
    padding: 50px 40px;
    font-size: larger;
    color: beige;
    justify-content: center;
	align-items: center;
    font-weight: 1000;
    box-shadow: 0 20px 35px #000;
} */
form 
{
	position: absolute;
	inset: 8px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 1002;
	display: flex;
	flex-direction: column;
    box-shadow: 0 20px 35px #000;

}
h2 
{
	color: #0f0;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
    
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 10px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 1010;
}
.inputBox div 
{
	position: absolute;
	left: 0;
    top: 5px;
    bottom: 0px;
	padding: 2px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ div,
.inputBox input:focus ~ div 
{
	color: #0f0;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position:  absolute;
	left: 0;
	bottom: 0;
	width: 110%;
	height: 2px;
	background: #0f0;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 1009;
}
 
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
	width:100%;
}
.links a 
{
	margin: 25px 0px;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(0)
{
	color: #0f0;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #0f0;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}

@media(max-width:500px)
{
    .box{
        
        width: 170px;
        height: 400px;
        
    } 
	.inputBox i{
		width: 50%;
	}
	h2{
		font-weight:400;
	}
	form {
		padding: 40px 25px;
	}
	.inputBox div{
		font-size: .8em;
	}
	 
}